body {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    background-image: url('/static/images/backgound2.webp');
    background: cover;
    width: 100%;
    // height: 200vh;
    // background-position-x: 20%;
    z-index: -1;
}  

#headtit{
    color: cadetblue;
    font-weight: 900;
    font-size: x-large;
    .head2{
        color: chocolate;
        font-weight: 1100;
    }
}
.bdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}    

@media only screen and (max-width:600px){
    body{
        .top{
            display: inline;
        }
        .bdiv{
            display: grid;
        }
    }
}

.bdiv button{
    margin-top: 25px;
    margin: 19px;
    border-radius: 30px;
    border-color: antiquewhite;
    padding: 15px;
}

.bdiv a{
    text-decoration: none;
    color: brown;
    background-color: blanchedalmond;
}
.bcat{
    border-radius: 25%;
}

// .sec {
    
// }



.homecover{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    top: 0;
    left: 0;
    background-color: antiquewhite;
    background: cover;
    width: 100%;
    height: 100%;
    background-position-x: 100%;
    z-index: -1;
    overflow: hidden;
}

.card {
    
    margin: .5rem;
}
.cover-div{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin: 2rem;
    align-content: space-around;
    color: rgb(105, 153, 61);
   
}
@media only screen and (max-width: 800px){
    body{
        .bdiv{
            display: grid;
            grid-template-columns: repeat(3,auto);
            justify-items: center;
            justify-content: start;
        }
        .cover-div{
            display: grid;
            margin: 10px;
            padding: 0%;
            border: 0%;
            grid-template-columns: repeat(2,auto);
            justify-content: space-between;
        }
        .homecover{
            align-content: flex-start;
            justify-content: flex-start;
            
        }
        .towor{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           
        }


        .col-2{
            display: grid;
            justify-content: center;
        }
        .col-10{
            display: grid;
            grid-template-columns: repeat(2,auto);
            justify-content: start;
        }


        .side-p{
            display: grid;
            grid-template-columns: repeat(1,auto);
            margin-left: 0;
            justify-content: start;
            font-size: small;
        }
        .foot {
        
        .social {
            display:grid;
            
            ul {
                display:grid;
                grid-template-columns: repeat(2,auto);
               
                .social-item {
                    display: grid;
                    list-style: none;
                
                    a {
                        display: grid;
                        grid-template-columns: repeat(2,auto);
                        padding: 0.5em 1em;
                        font-size: 0.8rem;
                        color: aqua;
                        text-decoration: none;
                    }
                }
            }    
        }  
        
        }    
    }
}    

@media only screen and (max-width: 520px){
    body{
        margin:0%;
        .homecover{
            display: flex;
            align-content: flex-start;
        }

        .bdiv{
            display: grid;
            grid-template-columns: repeat(2,auto);
            justify-items: center;
            justify-content: start;
        }
        .cover-div{
            display: grid;
            grid-template-columns: repeat(1,auto);
            justify-content: space-between;
        }
        .homecover{
            align-content: flex-start;
            justify-content: flex-start;
            
        }
        .towor{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           
        }


        .col-2{
            display: grid;
            justify-content: center;
        }
        .col-10{
            display: grid;
            justify-content: start;
        }


        .side-p{
            display: grid;
            grid-template-columns: repeat(1,auto);
            margin-left: 0;
            justify-content: start;
            font-size: small;
        }
        .foot {
        
        .social {
            display:grid;
            
            ul {
                display:grid;
                grid-template-columns: repeat(2,auto);
               
                .social-item {
                    display: grid;
                    list-style: none;
                
                    a {
                        display: grid;
                        grid-template-columns: repeat(2,auto);
                        padding: 0.5em 1em;
                        font-size: 0.8rem;
                        color: aqua;
                        text-decoration: none;
                    }
                }
            }    
        }  
        
        }    
     }
}


    
 


.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(7, 7, 7);
    height: 100%;
    width: 100%;
    background: cover;
    z-index: -1;
    color: black;
    margin-bottom: 0.5em;
    ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        a {
            padding: 1em 2em;
            font-size: 0.8rem;
            color: aqua;
            text-decoration: none;
        }
    }
    
}