{% extends "core/home.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="add-cl mt-5">
    <div class="card container " >
      <br>
        <h4 style="margin-top: 50px;" >update Your shop </h4>
        <div class="container"">
          <form class="row g-3 container titless " method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-dark btn-block" type="submit">update</button>
        </form>
        </div>
    </div>
  </div>
{% endblock content %}